* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
    font-family: "Roboto", "Arial", sans-serif;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  body {
    background-color: #0c1115;
  }
  
  img {
    cursor: pointer;
  }
  
  .d-flex {
    display: flex;
    align-items: center;
  }
  
  nav{
    height: 56px;
    padding: 10px 10px;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #0c1115;
}
   
  
  .nav-right img {
    
    width: 25px;
    margin-right: 20px;
  }
  
  .nav-right .userImg {
  
    border-radius: 50%;
  }
  
  .nav-left img {
    margin-right: 10%;
    width: 25px;
    
  }
  
  .nav-left .ytLogo {
    width: 105px;
    
  }
  
  .nav-middle {

    width: 50%;
   
  }
  
  .nav-middle .mic-icon {
    width: 20px;
  }
  
  .search-box {
    height: 36px;
    width: 90%;
    border: 1px solid hsla(0,0%,19%,1);
    border-radius: 50px;
    justify-content: space-between;
    padding-left: 1rem;
  }
  
  .search-box input {
    
    width: 80%;
    height: 36px;
    border: none;
    padding: 0.4rem;
    outline: none;
    margin-right: 20px;
    border-radius: 50px;
    background-color: transparent;
    font-size: 1rem;
    font-family: Roboto, Noto, sans-serif;
    color: hsla(0,0%,100%,0.88);
  }
  
  .search-box img {
    height: 36px;
    padding: 10px;
  }
  
  .search-Div {
    width: 10%;
    height: 36px;
    background-color: #2e2e2e;;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    justify-content: center;
  }
  
  .mic-div {
    margin-left: 2%;
    width: 40px;
    height: 36px;
    justify-content: center;
   background-color: hsla(0,0%,19%,1);
   border-radius: 50%;
  }
  
  .mic-icon {
    height: 24px;
    width: 20px;
  }