*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'poppins','sans-serif';
}
.mainContainer {
    /* border: 2px solid red; */
    margin-top: 5%;
    margin-left: 17%;
    flex-wrap: wrap;
  }
  
  .larger-mainContainer {
    /* border: 2px solid red; */
    margin-left: 7%;
    flex-wrap: wrap;
  }
  
  .card {
    /* border: 2px solid green; */
    flex: 1 0 21%; 
    width: 350px;
    margin-right: 28px;
    color: white;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .larger-card {
    /* border: 2px solid green; */
    width: 300px;
    margin-right: 28px;
    color: white;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .thumbnailImg {
    width: 100%;
    border-radius: 10px;
  }
  
  .logoContainer .userImg {
    border-radius: 50%;
    width: 25px;
    margin-right: 15px;
  }
  @media only screen and (max-width: 500px) {
    .sidebar a p,
    .uploadImg,
    .notifiationImg,
    .ytLogo,
    .mic-div,.search-Div  {
      display: none;
    }
  .card{
    width: 350px;
  }
  
  .video-container{
    padding-left: .5rem;
  }
  .content{
    flex-direction: column;
  }
  }
  
  
  