*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'poppins','sans-serif';
}
.mainContainer{
   margin-left:  17%;
   flex-wrap: wrap;
   
}

.cards{
    width: 350px;
    margin-right: 48.5px ;
    color:black;
    margin-bottom:20px  ;
    margin-top: 20px;
    
}
.thumbnail{
    width: 100%;
    border-radius: 20px;
}

.logoContainer .icon{
    border-radius: 50%;
    width: 25px;
    margin-right: 35px;
}